.root {
  flex: 1 0 0;
  display: grid;
  grid-template:
    "tileset-editor sidebar-right" 1fr
    / 1fr 280px;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: 16px;
}
