.root {
  --margin: 8px;

  flex: 1 0 0;
  display: grid;
  grid-template:
    ". . . . ." var(--margin)
    ". topbar topbar sidebar ." 48px
    ". toolbar editor sidebar ." 1fr
    ". . . . ." var(--margin)
    / var(--margin) auto 1fr auto var(--margin);
}

.topbar {
  grid-area: topbar;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  position: relative;
  z-index: 1;
}
