.root {
}
.root {
  --margin: 8px;

  flex: 1 0 0;
  display: grid;
  grid-template:
    ". . . . ." var(--margin)
    ". topbar topbar sidebar ." auto
    ". toolbar editor sidebar ." 1fr
    ". . . . ." var(--margin)
    / var(--margin) auto 1fr auto var(--margin);
}
