.root {
  grid-area: topbar;
  display: flex;
  align-items: center;
  padding: 8px;
  position: relative;
  z-index: 1;
  border-radius: var(--radius-lg);
  justify-self: flex-start;
}

.title {
  font-size: var(--text-size-title);
  font-weight: 500;
  margin-right: 32px;
}

.back {
  margin-right: 12px;
}
