.root {
  grid-area: topbar;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: relative;
  z-index: 1;
  border-radius: var(--radius-lg);
  justify-self: flex-start;
}

.title {
  font-size: var(--text-size-title);
  font-weight: 500;
  margin-right: 32px;
}

.back {
  appearance: none;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  height: 40px;
  margin-right: 12px;
  background: none;
  border-radius: var(--radius-md);
}
.back:not(:hover) {
  color: var(--icon-inactive);
}
.back:hover {
  background-color: var(--bg-surface-active);
}

.modeGroup {
  display: flex;
  gap: 8px;
}

.mode {
  padding: 8px;
  border-radius: var(--radius-md);
  cursor: pointer;
  border: 0;
  background: transparent;
  font: inherit;
  font-weight: 500;
  color: var(--text);
}
.mode:is(:hover, [aria-current="true"], [aria-checked="true"]) {
  background-color: var(--bg-surface-active);
}
.mode:not(:hover, [aria-current="true"], [aria-checked="true"]) {
  color: var(--text-inactive);
}
