.modeGroup {
  display: flex;
  gap: 8px;
}

.mode {
  padding: 8px;
  border-radius: var(--radius-md);
  cursor: pointer;
  border: 0;
  background: transparent;
  font: inherit;
  font-weight: 500;
  color: var(--text);
}
.mode:is(:hover) {
  background-color: var(--bg-hover);
}
.mode:is([aria-current="true"], [aria-checked="true"]) {
  background-color: var(--bg-active);
}
.mode:not(:hover, [aria-current="true"], [aria-checked="true"]) {
  color: var(--text-inactive);
}
