.root {
  grid-area: toolbar;
  align-self: center;
  position: relative;
  z-index: 1;
  border-radius: var(--radius-lg);
}

.toolGroup {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tool {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  border: 0;
  background-color: transparent;
  border-radius: var(--radius-md);
  color: var(--text);
}
.tool:not(:hover, [data-active="true"]) {
  color: var(--icon-inactive);
}
.tool:hover {
  background-color: var(--bg-hover);
}
.tool[data-active="true"] {
  background-color: var(--bg-active);
}
